:root {
  --header-color: #212121;
  --logo-color: #000000;
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --primery-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
}
.header-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.web {
  color: var(--accent-color);
}
.logo {
  color: var(--logo-color);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.header-mailto {
  list-style: none;
  text-decoration: none;
  color: #4682B4
}

.header-tel {
  color: var(--header-color);
  list-style: none;
  text-decoration: none;
}
.body {
  font-family: "Roboto", sans-serif;
}
.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}

.link {
  color: var(--accent-color);
  list-style: none;
  text-decoration: none;
}

.menu-link {
  color: var(--header-color);
  list-style: none;
  text-decoration: none;
}
.items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
}

.main {
  background: #e5e5e5;
}
.header {
  background-color: #ececec;
}
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-title-color);
}

.button {
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}
.button:hover,
.button:focus {
  color: #188ce8;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  list-style: none;
  text-decoration: none;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.list-centr {
  list-style: none;
  text-decoration: none;
}
.scroll {
  background: #e5e5e5;
}
.scroll-excellence {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.about {
  background: #e5e5e5;
}

.team {
  background: #f5f4fa;
}
.position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.footer {
  font-family: "Roboto", sans-serif;

  background: #2f303a;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.studio {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
}
.footer-way {
  color: var(--second-text-color);
  list-style: none;
  text-decoration: none;
  font-style: normal;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  text-decoration: none;
  font-style: normal;
}
.list-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style: none;
  text-decoration: none;
}

.snap {
  cursor: pointer;
  background: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #212121;
}
.snap-all {
  background: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
.title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-title-color);
}
.use {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.progects {
  list-style: none;
  text-decoration: none;
}
